$title-font-size: 22px;
$title-margin: 20px;

md-progress-spinner {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.opened-folder {
  font-size: $title-font-size;
  margin: 0 0 $title-margin 0;
}

.explorer-container {
  height: calc(100% - (#{$title-font-size} + #{$title-margin}));

  app-navigator:first-child {
    margin-bottom: 20px;
  }
}

[md-fab] {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
}
