<md-toolbar color="primary" class="md-elevation-z6">
  <span class="app-title">DocGest</span>

  <div *ngIf="user" class="actions-container">
    <button [routerLink]="['/', {outlets: {sidebar: null, primary: 'search'}}]" routerLinkActive="active" md-button>Buscar</button>

    <button [routerLink]="['/', {outlets: {sidebar: null, primary: 'explore'}}]" routerLinkActive="active" md-button>Explorar</button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <button [routerLink]="['/', {outlets: {sidebar: null, primary: 'categories'}}]" routerLinkActive="active" md-button>Categorías</button>

    <button *ngIf="user" md-icon-button [mdMenuTriggerFor]="menu" class="profile-menu-button">
      <img class="profile-img" [src]="user.photoUrl" alt="Profile Image">
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item [routerLink]="['/', {outlets: {sidebar: null, primary: 'configuration'}}]">
        <md-icon>settings</md-icon>
        <span>Configurar</span>
      </button>
      <button md-menu-item (click)="logout()">
        <md-icon>exit_to_app</md-icon>
        <span>Salir</span>
      </button>
    </md-menu>
  </div>
</md-toolbar>
