<md-progress-spinner *ngIf="loading" [mode]="'indeterminate'"></md-progress-spinner>
<div *ngIf="!loading">
  <div class="title">{{title}}</div>
  <md-grid-list cols="4" rowHeight="45px" gutterSize="10px" *ngIf="!loading">
    <md-grid-tile *ngFor="let item of items" [colspan]="1">
      <md-card class="folder-card text-ellipsis"
               (click)="onClick(item)"
               (dblclick)="onDblClick(item)"
               [class.selected]="item.selected">
        <md-icon>{{icon}}</md-icon>
        {{item.name}}
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>