/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink';

$background-color: #EEEEEE;

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  margin: 0;
  user-select: none;
  background-color: $background-color;
}

article,
aside,
content,
footer,
header,
nav,
section {
  display: block;
}

content {
  position: relative;
}

button[md-mini-fab].xs-fab {
  height: 32px;
  width: 32px;
  vertical-align: middle;

  md-icon {
    height: 16px;
    line-height: 16px;
    color: white;
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

md-dialog-container {
  background-color: $background-color;
}

app-configuration {
  display: flex;
  margin-right: 200px;
}

app-explore {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
}

app-navigator {
  width: 100%;
  display: block;
}

app-search {
  display: block;
}
