<div *ngIf="file">

  <md-toolbar class="md-elevation-z4">
    <span class="text-ellipsis">{{file.name}}</span>
    <span class="fill-remaining-space"></span>
    <button md-button class="close-button" (click)="closeDetails()">
      <md-icon>clear</md-icon>
    </button>
  </md-toolbar>

  <md-list class="details-content">
    <h3 md-subheader>Información general</h3>
    <md-list-item class="date-container">
      <span class="title">Fecha</span>
      <span class="fill-remaining-space"></span>
      <md-input-container>
        <input md-input type="date" [(ngModel)]="file.date" name="date">
      </md-input-container>
    </md-list-item>

    <md-divider></md-divider>

    <h3 md-subheader>Categorías</h3>
    <md-list-item class="tags-container">
      <md-list dense>
        <md-list-item *ngFor="let category of categories">
          <md-slide-toggle [checked]="file.categories.indexOf(category.$key) !== -1"
                           (change)="toggleCategory(category)"
                           [style.margin-left]="getMargin(category)"></md-slide-toggle>
          <span>{{category.name}}</span>
        </md-list-item>
      </md-list>
    </md-list-item>
  </md-list>
</div>
