<h1 md-dialog-title>Seleccione directorio raíz</h1>

<div md-dialog-content>
  <app-navigator [items]="folders"
                 [icon]="'folder'"
                 [loading]="loading"
                 (itemClicked)="toggleSelection($event)"
                 (itemDblClicked)="openFolder($event)">
  </app-navigator>
</div>

<div md-dialog-actions>
  <button md-raised-button color="accent" (click)="save()" [disabled]="!selectedItem">Seleccionar</button>
  <button md-button (click)="cancel()">Cancelar</button>
</div>