[md-dialog-content] {
  height: calc(75vh - 152px);
  background-color: #EEEEEE;
  position: relative;
  margin: 0;
  padding: 0;
}

[md-dialog-actions] {
  display: flex;
  justify-content: flex-end;

  button:first-child {
    margin-right: 10px;
  }
}

md-progress-spinner {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}
